[submodule "libvorbis"]
	path = libvorbis
	url = git://git.xiph.org/vorbis.git
[submodule "libogg"]
	path = libogg
	url = git://git.xiph.org/ogg.git
[submodule "assimp"]
	path = assimp
	url = git://github.com/assimp/assimp.git
[submodule "curl"]
	path = curl
	url = git://github.com/curl/curl.git
[submodule "libsigc++"]
	path = libsigc++
	url = git://github.com/GNOME/libsigcplusplus.git
[submodule "libpng"]
	path = libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "SDL2"]
	path = SDL2
	url = git://github.com/spurious/SDL-mirror
[submodule "zlib"]
	path = zlib
	url = git://github.com/madler/zlib.git
[submodule "SDL_image"]
	path = SDL_image
	url = git://github.com/pcercuei/SDL_image_cmake.git
	branch = install
[submodule "freetype2"]
	path = freetype2
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
